
<div> class="center"</div> {{! Positioning elements}}

{{! '!' This is a comment}}
{{! '{{}' Embeds a variable }}
{{! '$' Defines a custom section within a template}}
{{! '<' Includes a template layout allowing to defining content}}
{{! '#' It is used for looping over a list or rending a block if a certain condition is true}}
{{! '>' Includes a template within another template, when you want to embed a reusable piece of template defined elsewhere}}
{{! '/' Ends a block defined by '$', '<', '>' or '#'}}
{{! '&' To render HTML content stored in a variable without escaping}}

{{! '$href' is used to define where the content of an HTML element should come from}}