<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home page</title>
</head>
<body>
<h1>Welcome to MyCinema</h1>

<p><a href="/">Log out</a></p>
<p><a href="profile">Click here to see profile</a></p>
<p><a href="view-movie">Click here to view all movies</a></p>
<p><a href="add-movie">Click here to add movies</a></p>




</body>
</html>
