<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h1>Login</h1>

<!-- If there's an error, display the message -->
{{#error}}
    <p style="color: red;">{{error}}</p>
{{/error}}

<form action="/login" method="post">
    <input type="hidden" name="_csrf" value="{{token}}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>

</form>

<form action="/" method="get">
    <button type="submit">Back to Home Page</button>
</form>
</body>
</html>
