<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log out</title>
</head>
<body>

<form action="/logout" method="post">
  <input type="hidden" name="_csrf" value="{{token}}">
  <button type="submit">Log Out</button>
</form>
</body>
</html>
