<!DOCTYPE html>
<html>
<head>
    <title>Movies</title>
</head>
<body>
    <h1>Movies</h1>
    <a href="/movies/new">Add New Movie</a>
    <ul>
        {{#movies}}
        <li>
            <a href="/movies/{{id}}">{{title}}</a>
            <a href="/movies/delete/{{id}}">Delete</a>
        </li>
        {{/movies}}
    </ul>
</body>
</html>
