<!DOCTYPE html>
<html>
<head>
    <title>Movie</title>
</head>
<body>
<h1>{{title}}</h1>
<p>{{description}}</p>
<p>Directed by: {{director}}</p>
<p>Genre: {{genre}}</p>
<a href="/movies">Back to Movies</a>
</body>
</html>
