<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MyCinema</title>
</head>
<body>
<h1>Profile</h1>

{{#profile}}
  <ul>
    <li>
      <p>Username: {{username}}</p>
      <p>Name: {{name}}</p>
      <p>Phone number: {{phoneNumber}}</p>
      <p>Address: {{address}}</p>
    </li>
  </ul>
{{/profile}}

<p><a href="/">Log out</a></p>
<p><a href="landing-page">Back to home page</a></p>

</body>
</html>
