<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>List of bookings</title>
</head>
<body>
<h1>All bookings at MyCinema</h1>

{{#bookings}} {{! this is a for loop}}
  <ul>
    <li>Booking ID: {{bookingId}}</li>
    <li>User ID: {{userId}}</li>
    <li>Movie selected: {{selectMovie}}</li>
    <li>Movie time selected: {{selectMovieTime}}</li>
    <li>Allocated seats: {{seats}}</li>
    <li>Number of tickets: {{numberOfTickets}}</li>
    <li>Booking status: {{bookingStatus}}</li>
    <li>Total price: £{{totalPrice}}</li>
    <li>Date of booking created: {{bookingCreatedDate}}</li>
  </ul>
{{/bookings}}

<form action="/logout" method="post">
    <input type="hidden" name="_csrf" value="{{token}}">
    <button type="submit">Log Out</button>
</form>
</body>
</html>
